@using Microsoft.AspNetCore.Http
@model List<AlteracoesViewModel>

<table class="table table-striped shadow-sm w-100 mx-auto">
    <thead class="table-dark">
        <tr>
            <th class="text-center align-middle">Código</th>
            <th class="text-center align-middle">Responsável</th>
            <th class="text-center align-middle">Data</th>
            <th class="text-center align-middle">SetPoint</th>
            <th class="text-center align-middle">Configuração</th>
            <th class="text-center align-middle">Descrição</th>
            @if (Context.Session.GetInt32("Admin") == 1)
            {
                <th class="text-center align-middle">Ações</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td class="text-center align-middle">@a.Id</td>
                <td class="text-center align-middle">@a.Responsavel</td>
                <td class="text-center align-middle">
                    <!-- Aqui mostra dd/MM/yyyy - HH:mm:ss -->
                    @a.DtAlteracao.ToString("dd/MM/yyyy - HH:mm:ss")
                </td>
                <td class="text-center align-middle">@a.Setpoint °C</td>
                <td class="text-center align-middle">
                    @(a.ConfigMaMf == "MA" ? "Malha Aberta" : "Malha Fechada")
                </td>
                <td class="text-center align-middle">@a.DescAlteracao</td>
                @if (Context.Session.GetInt32("Admin") == 1)
                {
                    <td class="text-center align-middle">
                        <a asp-action="Edit" asp-route-id="@a.Id" class="btn btn-sm btn-warning">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <button type="button" class="btn btn-sm btn-danger"
                                onclick="confirmaAcao('Confirma exclusão desta alteração?', function() {
                                                            location.href='@Url.Action("Delete", "Alteracoes", new { id = a.Id })';
                                                        })">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
